:root{
    --green-color: #8CE890;
    --red-color: #FF7A7A;
    --main-color: #5BA8BA
}

.cards{
    margin-top: 100px;
    margin-bottom: 70px;

}

.productCard{
    height: 140px;
    width: 100%;
    background: white;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.productCard .productImage{
    width: 116px;
    height: 116px;
}

.productInformation .productName{
    font-size: 13px;
    font-weight: normal;
    position: absolute; 
    top: 20px;
    margin: 0;
}

.productInformation .productBrand, .productQuantity{
    position: absolute;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    color: #575757;
    margin: 0;
}

.productInformation .productBrand{
    top: 40px;
}

.productInformation .productQuantity{
    top: 55px;
}

.productInformation .timeBar{
    position: absolute;
    top: 85px;
    width: 62%;
    height: 5px;
    background: #F1F1F1;
    border-radius: 50px;
}

.productInformation .timeBar .fillTimeBar{
    height: 100%;
    transform: scaleX(0.3);
    transform-origin: 0 0;
    background: var(--red-color);
    border-radius: 50px;
}

.productInformation .expiryDate{
    font-size: 11px;
    position: absolute; 
    top: 20px;
    right: 8%;
}

.productInformation .daysLeft{
    position: absolute; 
    top: 72px;
    right: 8%;
    font-size: 11px;
    color: var(--red-color);
    
}

.productInformation .cardIcons{
    position: absolute; 
    display: flex; 
    width: 62%;
    top: 103px;
    justify-content: space-around;
}

.productInformation .cardIcons img{
    width: 25px;
    height: 25px;
}

/*
    Expiry Information
*/
