:root{
    --green-color: #8CE890;
    --red-color: #FF7A7A;
    --main-color: #5BA8BA
}

.cards{
    margin-top: 100px;
    margin-bottom: 70px;

}

.productCard{
    height: 140px;
    width: 100%;
    background: white;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.productCard .productImage{
    width: 116px;
    height: 116px;
}

.productInformation .productName{
    font-size: 13px;
    font-weight: normal;
    position: absolute; 
    top: 20px;
    margin: 0;
}

.productInformation .productBrand, .productQuantity{
    position: absolute;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    color: #575757;
    margin: 0;
}

.productInformation .productBrand{
    top: 40px;
}

.productInformation .productQuantity{
    top: 55px;
}

.productInformation .timeBar{
    position: absolute;
    top: 85px;
    width: 62%;
    height: 5px;
    background: #F1F1F1;
    border-radius: 50px;
}

.productInformation .timeBar .fillTimeBar{
    height: 100%;
    transform: scaleX(0.3);
    transform-origin: 0 0;
    background: var(--red-color);
    border-radius: 50px;
}

.productInformation .expiryDate{
    font-size: 11px;
    position: absolute; 
    top: 20px;
    right: 8%;
}

.productInformation .daysLeft{
    position: absolute; 
    top: 72px;
    right: 8%;
    font-size: 11px;
    color: var(--red-color);
    
}

.productInformation .cardIcons{
    position: absolute; 
    display: flex; 
    width: 62%;
    top: 103px;
    justify-content: space-around;
}

.productInformation .cardIcons img{
    width: 25px;
    height: 25px;
}

/*
    Expiry questionMark
*/

.qMark{
    display: flex;
    justify-content: space-between;
}

.qMark img{
    padding-right: 5vw;
} 
/*
    Expiry Information
*/


.menu{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.menu .mover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(200%);
    transition: transform 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    pointer-events: auto;
}

.menu.is-active .mover{
    transform: translateX(0%);
}

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    padding-top: 4vh;
    padding-bottom: 12vh ;
}

.arrowLeft{
    width: 100%;
    transform: rotate(180deg);
}

.arrowLeft img{
    padding-left: 6vw;
}

.expiry{
    padding-left: 9vw;
}

.expiry h3{
    display: inline-block;
    position: relative;
    padding-right: 2vw;
    z-index: 1;
    font-size: 22px;

}

.expiry h3::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 10px;
    bottom: 0;
    left: 10%;
    border-bottom: 10px solid #5BA8BA;
    z-index: -1;
}

.yogurt,.milk,.egg,.cheese,.ketchup,.ham{
    display: flex;
}

.productSection img{
    padding-left: 8vw;
    padding-right: 5vw;
}

.productSection p{
    padding-right: 5vw;
    font-size: 17px;
}