main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 17px;
}

.addProductForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
}

.addProductForm::placeholder
{
    color: #929292;
}

.okButton
{
    width: 100%;
}

.okButtonV2
{
    display: flex;
    justify-content: flex-end;
}

.okButtonInput
{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    color: white;
    background: #5ba8ba;

}

.cameraIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: solid;
    border-color: #5BA8BA;
    background: #FFFFFF;
}

.userInput
{
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

input
{
    font-size: 17px;
}

.menuProductCategorie
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}