main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 17px;
}

.cameraIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: solid;
    border-color: #5BA8BA;
    background: #FFFFFF;
}

.userInput
{
    width: 100%;
}

input
{
    font-size: 17px;
}

.menuProductCategorie
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}