main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    font-size: 17px;
}

.addProductForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.addProductForm::placeholder
{
    color: #929292;
}

.okButton
{
    width: 85%;
}

.okButtonV2
{
    display: flex;
    justify-content: flex-end;
}

.okButtonInput
{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    color: white;
    background: #5ba8ba;
    border: transparent;
}

.cameraIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: solid;
    border-color: #5BA8BA;
    background: #FFFFFF;
    margin-bottom: 60px;
}

.userInput
{
    margin-top: 3px;
    height: 40px;
    font-size: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}

.userInput p
{
    margin: 0;
    display: inline-block;
    padding-left: 20px;
    line-height: 40px;
}

input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 145px;
    border-radius: 0;
    margin-right: 20px;
}

select
{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 145px;
    border-radius: 0;
    margin-right: 20px;
}