body{
    overflow: hidden;
}

.scanBloc{
    width: 90vw;
    height: 220px;
    position: absolute; 
    border:  solid 3px white;
    border-radius: 8px;
}

#div-video-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/*
    SOUND BUTTON
*/

.sound{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: absolute; 
    top: 20px; 
    right: 4%; 
    opacity: 0.5;
}

.expiryDateCard
{
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 45vw);
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    width: 90vw;
    display: none;
    height: 100%;

}

.flexExpiryDateCard
{
    display: flex;
}

.submitButton
{
}

.cardImage
{
    height: 150px;
}

.pContainer
{
    margin-top: 30px;
}

.pContainer p
{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.pContainer .productName
{
    font-weight: 600;
}

.pContainer .brand
{
    font-weight: 375;
    font-style: italic;
}

.pContainer .brand
{
    font-weight: 375;
}

.addProductForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.userInput
{
    margin-top: 3px;
    height: 40px;
    font-size: 14px;
    background: #ffffff;
}

.userInput p
{
    margin: 0;
    display: inline-block;
    padding-left: 20px;
    line-height: 40px;
}

input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 145px;
    border-radius: 0;
    margin-right: 20px;
}