main
{
    margin-bottom: 15vh;
    font-size: 17px;
}

.section{
    position: relative;
    width: 100%;
    height: 100%;
}

.cardStats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding-left: 3vw;
    padding-right: 3vw;
    font-weight: bold;
}

.statsContainer
{
    margin-bottom: 4vh;
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: white;
}

.statsTitle
{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 10px 0;
}

.cardStatsGreen
{
    color: #63C97A;
}

.cardStatsRed
{
    color: #D85239;
}

.cardStats p
{
    margin-left: 10px;
}

.canvasContainer
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

canvas
{
    display: block;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.total
{
    position: absolute;
    top: 75px;
    left: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 27px;
    font-weight: 600;
}

.totalkg
{
    position: absolute;
    top: 75px;
    left: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.kgNumber
{
    font-size: 27px;
    font-weight: 600;
}

.kgKg
{
    font-size: 15px;
    font-weight: 600;
}

.happyFridgyCanvas1
{
    position: absolute;
    top: 50%;
    left: 60vw;
    width: 60px;
    display: none;
}

.angryFridgyCanvas1
{
    position: absolute;
    top: 50%;
    right: 60vw;
    display: none;
}

.happyFridgyCanvas2
{
    position: absolute;
    top: 50%;
    right: 60vw;
    width: 60px;
    transform: scaleX(-1);
    display: none;
}

.angryFridgyCanvas2
{
    position: absolute;
    top: 50%;
    left: 60vw;
    transform: scaleX(-1);
    display: none;
}

.spawnFridgy
{
    display: block;
}

.speechContainer
{
    margin-bottom: 4vh;
    padding-top: 140px;
    padding-bottom: 50px;
    background-color: white;
    height: 50px;
    border-radius: 15%;
}

.bubbleContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    font-weight: bold;
    height: 100%;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
}

.bubbleFridgy
{
    margin-left: 15px;
}

.bubbleText
{
    width: 50%;
}